<div class="d-flex flex-column h-100">
    <div class="d-flex flex-row justify-content-center mb-3">
        <h2>Registro de Rectificación</h2>
    </div>
    <!--Formulario-->
    <div class="container h-100">
        <div class="row mb-3">
            <div class="col-2">
                <label class="form-label">Número de Expediente</label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" [(ngModel)]="expediente">
            </div>
        </div>
        <div class="row mb-3">
            <h2 class="">Cursos</h2>
        </div>
        <!--Tabla de cursos-->
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead class="text-center">
                    <tr>
                        <th>Codigo de Curso</th>
                        <th>Nombre de Curso</th>
                        <th>Profesor</th>
                        <th>Sección</th>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Rectificación</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    @for( curso of this.cursos; track curso.codigoCurso){
                    <tr>
                        <td>{{curso.codigoCurso}}</td>
                        <td>{{curso.nombreCurso}}</td>
                        <td>{{curso.docente}}</td>
                        <td>{{curso.seccion}}</td>
                        <td>{{curso.dia}}</td>
                        <td>{{curso.hora}}</td>
                        <td>
                            <input type="checkbox" class="form-check-input" [(ngModel)]="curso.rectificacion"
                                (change)="actualizarRectificacion()">
                        </td>
                    </tr>
                    }@empty {
                    <tr>
                        <td colspan="7">
                            <div class="spinner-grow me-3 text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-success" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-danger" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-warning" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-info" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row mb-3">
            <h2>Rectificar</h2>
        </div>
        <!--Rectificacion-->
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead class="text-center">
                    <tr>
                        <th>Codigo</th>
                        <th>Curso</th>
                        <th>Sección</th>
                        <th>Cambio</th>
                        <th>Nueva Sección</th>
                        <th>Nueva Sección 2</th>
                        <th>Retiro</th>
                        <th>Motivo</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    @for(filtrado of this.cursosFiltrados; track filtrado.codigo){
                    <tr>
                        <td>{{filtrado.codigo}}</td>
                        <td>{{filtrado.nombre}}</td>
                        <td>{{filtrado.seccion}}</td>
                        <td>
                            <input type="checkbox" class="form-check-input" [(ngModel)]="filtrado.cambio"
                                [disabled]="filtrado.retiro">
                        </td>
                        <td>
                            <input class="form-control" [(ngModel)]="filtrado.nuevaSeccion"
                                [disabled]="!filtrado.cambio">

                        </td>
                        <td>
                            <input class="form-control" [(ngModel)]="filtrado.nuevaSeccion2"
                                [disabled]="!filtrado.cambio">

                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input" [(ngModel)]="filtrado.retiro"
                                [disabled]="filtrado.cambio">
                        </td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="filtrado.motivo">
                        </td>
                    </tr>
                    }@empty{
                    <tr>
                        <td colspan="8">
                            <div class="spinner-grow text-primary me-3" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary me-3" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-success" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-danger" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-warning" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow me-3 text-info" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Nueva Sección para Matricularse en un nuevo curso -->
        <!-- Nueva sección de cursos a agregar -->
        <div class="row mb-3">
            <h2>Nuevo Curso</h2>
        </div>
        
        <!-- Tabla para agregar un nuevo curso -->
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead class="text-center">
                    <tr>
                        <th>Código</th>
                        <th>Curso</th>
                        <th>Sección</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    <tr>
                        <td><input type="text" class="form-control" [(ngModel)]="nuevoCurso.codigoCurso"></td>
                        <td><input type="text" class="form-control" [(ngModel)]="nuevoCurso.nombreCurso"></td>
                        <td><input type="text" class="form-control" [(ngModel)]="nuevoCurso.seccion"></td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="agregarNuevoCurso()">Agregar</button>
                        </td>
                    </tr>
                    <tr *ngFor="let cursoNuevo of cursosNuevos; let i = index">
                        <td>{{ cursoNuevo.codigoCurso }}</td>
                        <td>{{ cursoNuevo.nombreCurso }}</td>
                        <td>{{ cursoNuevo.seccion }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="eliminarCurso(i)">Eliminar</button>
                        </td>
                    </tr>
                    <tr *ngIf="cursosNuevos.length === 0">
                        <td colspan="4" class="text-center">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row text-center mb-3">
            <div class="col">
                <button type="button" (click)="enviarRectificacion()">Enviar Rectificación</button>
            </div>
        </div>
    </div>
</div>