<div class="d-flex vh-100">
    <div class="d-flex flex-column border">
        <div class="p-2">Rectificaciones Fisi</div>
        <hr>
        <ul class="nav flex-column h-100">
            <li class="nav-item">
                <a href="/vicedecano" class="nav-link">Vicedecano</a>
            </li>
            <li class="nav-item ">
                <a href="/aprobar" class="nav-link">Ingreso/Cambio</a>
            </li>
            <li class="nav-item ">
                <a href="/desaprobar" class="nav-link">Retiro</a>
            </li>
            <li class="nav-item ">
                <a href="/imprimir" class="nav-link">Imprimir</a>
            </li>
        </ul>
        <hr>
        <div class="align-botton align-self-center">
            <button type="button" class="btn btn-primary" (click)="logout()">Cerrar Sesión</button>
        </div>
        <hr>
    </div>
    <div class="w-100">
        <router-outlet />
    </div>
</div>
